* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playBtn {
    border: none;
    background-color: #1c1c1c;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
}